<html>

<head>
    <title>Autentificación PHP</title>
    <!-- <link rel="stylesheet" href="css\login.css"> -->
</head>

<body>
    <h1 id="tit1">Formulario de Autentificación PHP</h1>
    <form action="php\control.php" method="POST">
        <table align="center" width="225" cellspacing="2" cellpadding="2" border="0">
            <tr>
                <td colspan="2" align="center">
                    <b id="tit2">Introduce tu clave de acceso </b>
                    <!-- <? php if (isset($_GET["errorusuario"])) {
                        if ($_GET["errorusuario"]=="si") { ?> -->
                    <!-- <p style="color:cc0000"><b>Datos incorrectos</b></p> -->
                    <!-- <? php }
} ?> -->
                </td>
            </tr>
            <tr>
                <td id="tit3">USUARIO:</td>
                <td><input type="Text" name="user" size="12" maxlength="50" /></td>
            </tr>
            <tr>
                <td id="tit3" align="right">CONTRASEÑA:</td>
                <td><input type="password" name="pass" size="12" maxlength="50" /></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="Submit" value="ENTRAR"></td>
            </tr>
            <!-- <tr>
                <td id="tit4"><a href='registro.php'>Registrarse</a></td>
                <tr>
                    <td id="tit4"><a href='modificar.php'>Cambiar contraseña</a></td>
                </tr>
                <tr>
                    <td id="tit4"><a href='borrar.php'>Borrar usuario</a></td>
                </tr> -->

        </table>
    </form>
    <br><br>
    <h2>Añadir usuario</h2>
    <br>
    <label class="txt">Id:</label>
    <input type="number" id="idUsuario"><br><br>
    <label class="txt">Nombre:</label>
    <input type="text" id="nombreUsuario"><br><br>
    <label class="txt">Apellidos:</label>
    <input type="text" id="apellidos"><br><br>
    <label class="txt">Email:</label>
    <input type="text" id="emailUsuario"><br><br>
    <label class="txt">password:</label>
    <input type="text" id="password"><br><br>
    <label class="txt">Telefono:</label>
    <input type="number" id="telefonoUsuario"><br><br>
    <label class="txt">Direccion:</label>
    <input type="text" id="direccionUsuario"><br><br>
    <label class="txt">Codigo Postal:</label>
    <input type="number" id="cpUsuario"><br><br>
    <label class="txt">Tipo Usuario:</label>
    <input type="number" id="tipoUsuario"><br><br>
    <input type="button" value="Añadir Usuario" class="bt" id="bt1">


    <br><br>
    <h2>Añadir Producto</h2>
    <br>
    <label class="txt">Id:</label>
    <input type="number" id="idProducto"><br><br>
    <label class="txt">Nombre:</label>
    <input type="text" id="nombreProdcuto"><br><br>
    <label class="txt">Precio:</label>
    <input type="number" id="precio"><br><br>
    <label class="txt">Precio Venta:</label>
    <input type="number" id="precioVenta"><br><br>
    <label class="txt">Tipo:</label>
    <input type="text" id="tipoProducto"><br><br>
    <label class="txt">Unidades:</label>
    <input type="number" id="unidades"><br><br>
    <label class="txt">Peso:</label>
    <input type="number" id="peso"><br><br>
    <input type="button" value="Añadir Producto" class="bt" id="bt2">

    <br><br>
    <h2>Añadir Proveedor</h2>
    <br>
    <label class="txt">Id:</label>
    <input type="number" id="idProveedor"><br><br>
    <label class="txt">Nombre:</label>
    <input type="text" id="nombreProveedor"><br><br>
    <label class="txt">Telefono:</label>
    <input type="number" id="telefonoProveedor"><br><br>
    <label class="txt">Email:</label>
    <input type="text" id="emailProveedor"><br><br>
    <label class="txt">Direccion:</label>
    <input type="text" id="direccionProveedor"><br><br>
    <label class="txt">Codigo Postal:</label>
    <input type="number" id="cpProveedor"><br><br>
    <label class="txt">Fecha:</label>
    <input type="date" id="fecha"><br><br>
    <input type="button" value="Añadir Proveedor" class="bt" id="bt3">
</body>

</html>