<html>

<head>
    <title>Autentificación PHP</title>
    <!-- <link rel="stylesheet" href="css\login.css"> -->
</head>

<body>
    <h1 id="tit1">Formulario de Autentificación PHP</h1>
    <form action="php\control.php" method="POST">
        <table align="center" width="225" cellspacing="2" cellpadding="2" border="0">
            <tr>
                <td colspan="2" align="center">
                    <b id="tit2">Introduce tu clave de acceso </b>
                    <!-- <? php if (isset($_GET["errorusuario"])) {
                        if ($_GET["errorusuario"]=="si") { ?> -->
                    <!-- <p style="color:cc0000"><b>Datos incorrectos</b></p> -->
                    <!-- <? php }
} ?> -->
                </td>
            </tr>
            <tr>
                <td id="tit3">USUARIO:</td>
                <td><input type="Text" name="user" size="12" maxlength="50" /></td>
            </tr>
            <tr>
                <td id="tit3" align="right">CONTRASEÑA:</td>
                <td><input type="password" name="pass" size="12" maxlength="50" /></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="Submit" value="ENTRAR"></td>
            </tr>
            <!-- <tr>
                <td id="tit4"><a href='registro.php'>Registrarse</a></td>
                <tr>
                    <td id="tit4"><a href='modificar.php'>Cambiar contraseña</a></td>
                </tr>
                <tr>
                    <td id="tit4"><a href='borrar.php'>Borrar usuario</a></td>
                </tr> -->

        </table>
    </form>
    <br><br>
    <label class="txt">Id:</label>
    <input type="text" id="idUsuario"><br><br>
    <label class="txt">Nombre:</label>
    <input type="text" id="nombre"><br><br>
    <label class="txt">Apellidos:</label>
    <input type="text" id="apellidos"><br><br>
    <label class="txt">Email:</label>
    <input type="text" id="email"><br><br>
    <label class="txt">password:</label>
    <input type="text" id="password"><br><br>
    <label class="txt">Telefono:</label>
    <input type="text" id="telefono"><br><br>
    <label class="txt">Direccion:</label>
    <input type="text" id="direccion"><br><br>
    <label class="txt">Codio Postal:</label>
    <input type="text" id="cp"><br><br>
    <label class="txt">Tipo Usuario:</label>
    <input type="text" id="tipoUsuario"><br><br>
</body>

</html>